---
layout: twitter
permalink: /posters
title: Posters
---

{% assign sessions = site.data.posters | group_by: "session" %} {% for session in sessions %}
<div id="session-{{ session.name }}" class="row">
  <div class="col-sm-12 col-md-12">
    <h3 style="color: #d67a92">Session #{{ session.name }}</h3>
  </div>
  {% assign posters = session.items | sort: "title" %} {% for poster in posters %}
  <div class="col-sm-12 col-md-12" style="margin-bottom: 3em">
    <h4>{{ poster.title }}</h4>
    <div>
      <span style="font-style: italic">Authors: </span>
      <strong>{{ poster.firstName }} {{ poster.lastName }}</strong>{% if poster.additionalAuthors !=
      "" %}, {{ poster.additionalAuthors }}{% endif %}
    </div>
    {% if poster.mentors != "" %}
    <div>
      <span style="font-style: italic">Mentors: </span>
      {{ poster.mentors }}
    </div>
    {% endif %}
    <div>
      <span style="font-style: italic">Institution: </span>
      {{ poster.institution }}
    </div>
  </div>
  {% endfor %}
</div>
{% endfor %}
