<style>
    .lines .line:last-child {
        display: none;
    }
</style>

<div class="timeline" style="padding-top: 2em;position: relative;">
    <h3 style="margin-top: 5px;">Important Dates</h3>
    <!-- <label>23 in the last 7 hours</label> -->
    <div class="box" style="margin-bottom: 0;padding-bottom: 0;">
        <div class="container">
            <div class="lines">
                {% for d in site.data.important_dates %}
                <div class="dot"></div>
                <div class="line"></div>
                {% endfor %}
            </div>
            <div class="cards" style="width: 100%">
                {% assign dates = site.data.important_dates | order: "date" %}
                {% for d in dates %}
                <div class="card">
                    {% if d.extended %}
                    <h4><span class="extended">{{ d.date }}</span> {{ d.extended }}</h4>
                    {% else %}
                    <h4>{{ d.date }}</h4>
                    {% endif %}
                    <p>{{ d.type }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>