<div class="twitter" style="margin-left: 1em;position: relative;">
    <div class="twitter-header">
        <i class="fab fa-twitter"></i> @GCASR_workshop
    </div>
    <a class="twitter-timeline" href="https://twitter.com/GCASR_workshop?ref_src=twsrc%5Etfw" data-dnt="true"
        data-theme="light" data-chrome=" nofooter noheader" data-height="51em" it="twitter-timeline">
        Tweets by GCASR</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>